html
  head
    title Verifica
  body
    p
      b Impariamo la geografia
    |  
    form(action='invia', method='GET')
      | Nazione:
      br
      |   
      input(type='text', name='nazione', value=nazione)
      |   
      br
      |   Capitale:
      br
      |   
      input(type='text', name='capitale' value='')
      |   
      br
      br
      |   
      input(type='submit')
